@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwindcss forms;
@tailwindcss aspect-ratio;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.footer {
  background: #252525;
  color: #ffffff;
}

.nav {
  background: #e9e7e4;
  color: #3e5965;
}

.video-docker video {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.video-docker::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.video-content {
  z-index: 2;
}

.why_image {
  background-image: url("https://i.postimg.cc/qRWyNyQ5/flight.jpg");
  height: 400px;
  width: 100%;
}

.div_with_image {
  background-image: url("https://i.postimg.cc/TwfBZ5nB/parallax-red-sunset.jpg");
  height: 400px;
  width: 100%;
}

.experience_div {
  background-image: url("https://i.postimg.cc/g0XvmgHZ/parallax-couple-on-boat.png");
  height: 400px;
  width: 100%;
}

.experience_content {
  z-index: 2;
  color: #ffffff;
  
  
}
